@{
    ViewBag.Title = "Bootstrap Sample Site | Base CSS";
}

<div class="page-header">
  <h1>Base CSS <small>basic typography classes for layout and aligment</small></h1>
</div>

<ul>
  <li><a href="@Url.Action("Headers")">Lead body copy & Headers</a></li>
  <li><a href="@Url.Action("Alignment")">Alignment & Emphasis</a></li>
  <li><a href="@Url.Action("Abbreviations")">Abbreviations, Addresses & Blockquotes</a></li>
  <li><a href="@Url.Action("Lists")">Lists</a></li>
  <li><a href="@Url.Action("Tables")">Tables</a></li>
</ul>
