@{
    ViewBag.Title = "Bootstrap Sample Site | Buttons";
}

<div class="page-header">
  <h1>Buttons <small>small colourfull clickable objects chock full of pure Twitter Bootstrap awesomness</small></h1>
</div>

<ul>
  <li><a href="@Url.Action("Styles")">Colour Styles</a></li>
  <li><a href="@Url.Action("Icons")">Icons</a></li>
  <li><a href="@Url.Action("Sizing")">Sizing</a></li>
  <li><a href="@Url.Action("Groups")">Button Groups</a></li>
  <li><a href="@Url.Action("Dropdowns")">Button dropdows & Split buttons</a></li>
</ul>
