@{
    ViewBag.Title = "Bootstrap Sample Site | Forms";
}

<div class="page-header">
  <h1>Forms <small>classes for layout and aligment of html forms and thier elements</small></h1>
</div>

<ul>
  <li><a href="@Url.Action("Basics")">Basics</a></li>
  <li><a href="@Url.Action("Special")">Special Classes</a></li>
  <li><a href="@Url.Action("Controlgroups")">Control Groups, Checkbox alignment & Validation States</a></li>
  <li><a href="@Url.Action("Support")">Supported Input Types</a></li>
  <li><a href="@Url.Action("Sizing")">Control Sizing</a></li>
  <li><a href="@Url.Action("Extending")">Control Extending</a></li>
</ul>
