@{
    ViewBag.Title = "Bootstrap Sample Site | Components";
}

<div class="page-header">
  <h1>Components <small>the things that make you go oooooooo</small></h1>
</div>

<ul>
  <li><a href="@Url.Action("Tabs")">Tabs & Pills</a></li>
  <li><a href="@Url.Action("Navs")">Navigation Lists & Bars</a></li>
  <li><a href="@Url.Action("Labels")">Labels & Badges</a></li>
  <li><a href="@Url.Action("Heros")">Hero Units</a></li>
  <li><a href="@Url.Action("Thumbnails")">Thumbnails & Media Objects</a></li>
  <li><a href="@Url.Action("Alerts")">Alerts & Progress bars</a></li>
  <li><a href="@Url.Action("Modals")">Modal Dialogs</a></li>
  <li><a href="@Url.Action("Tooltips")">Tooltips & Popovers</a></li>
</ul>

